.twitter {
    color: #1da1f2;
}

.icloud {
    color: #168de2;
}

.linkedin {
    color: #0e76a8;
}

.facebook {
    color: #3b5998;
}

.github {
    color: #25292E;
}

.stackoverflow {
    color: #f48024;
}